/.idea/.gitignore
/.idea/deployment.xml
/.idea/JG4-dev.iml
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/fileTemplates/includes/PHP Class Doc Comment.php
/.idea/fileTemplates/includes/PHP File Header.php
/.idea/fileTemplates/includes/PHP Function Doc Comment.php
/.idea/fileTemplates/includes/PHP Property Doc Comment.php
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
node_modules