.wrapper .container-main {
  overflow: hidden;
}
.btn-secondary {
  background-color: var(--template-bg-dark-50) !important;
  border-color: var(--template-bg-dark-50) !important;
}
.head-row .control-group .control-label {
  width: 150px;
}
.mt {
  margin-top: 1rem !important;
}
.mb {
  margin-bottom: 1rem !important;
}
.ml {
  margin-left: 1rem !important;
}
.mr {
  margin-right: 1rem !important;
}
.modal .modal-body {
  margin: 1rem 2rem;
}
.modal .modal-body {
  margin: 1rem 2rem;
}
.jcc-color-box {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.other-filters{
  padding: 0 14px;
}
.jg.jg-config joomla-tab > joomla-tab-element {
  padding: 0;
}
.jg.jg-config joomla-tab > joomla-tab-element .row-fluid {
  padding: 30px;
}
.jg.jg-config .subform-table-layout .table,
.jg.jg-config joomla-field-fancy-select.mb-0 div
{
  margin-bottom: 0;
}
.jg .control-label.unused label {
  color: red;
}
.jg .controls.sensitive {
  display: flex;
  flex-wrap: wrap;
}
.jg .subform-repeatable-container td.sensitive {
  display: flex;
  align-items: baseline;
}
.jg .controls.sensitive input.sensitive-input,
.jg .controls.sensitive select.sensitive-input,
.jg .subform-repeatable-container td.sensitive .control-group {
  width: inherit;
  flex-grow: 1;
}
.jg .subform-repeatable-container td.sensitive [class^=icon] {
  margin-left: 1rem;
}
.jg .controls.sensitive .sensitive-input.switcher  {
  width: 10rem;
}
.jg .controls.sensitive .description {
  width: 100%;
}
.jg .subform-repeatable .controls.sensitive .btn {
  margin-inline-end: 0;
}
.jg .subform-repeatable .control-label label {
  width: initial;
}
.jg_minithumb {
  border: 0;
  height: 80px;
  width: 80px;
}
img.jg_minithumb {
  max-height: 80px;
  max-width: 80px;
  object-fit: contain;
  border: 1px solid #ddd;
}
.joom-imgtypes.btn-group {
  margin-top: 1rem;
}
.joom-image {
  position: relative;
  min-height: 100px;
}
.joom-image > .joom-loader {
  position: absolute;
  text-align: center;
  margin: 1rem auto;  
  width: 100%;
}
.joom-image > img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  background-color: var(--body-bg);
}
.joom-image.center > img {
  display: block;
  margin: 0 auto;
}
.badge-list .badge {
  margin: 0.2rem;
}
joomla-field-image .jg_minithumb {
  border: solid 1px var(--template-bg-dark-20);
  background-color: #e8e8e8;
}
.jg .modal .modal-body {
  margin: 1rem 2rem;
}
.jg .modal .btn {
  color: var(--white);
}
.uppy-Dashboard-inner {
  background-color: var(--white);
  border: none;
}
.uppy-Dashboard-Item {
  height: auto !important;
}
.uppy-Dashboard-Item-preview.is-saving .uppy-Dashboard-Item-previewInnerWrap::after {
  background-color: #000000a6;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1001;
}
.uppy-Dashboard-Item-preview.is-saving .uppy-Dashboard-Item-progressIcon--circle,
.uppy-Dashboard-Item-preview.is-saving .uppy-Dashboard-Item-progressIcon--check,
.uppy-Dashboard-Item-preview.is-saving .uppy-Dashboard-Item-progressIcon--circle circle,
.uppy-Dashboard-Item-preview.is-saving .uppy-Dashboard-Item-progressIcon--circle polygon {
  fill: #ffd700;
}
.uppy-Dashboard-Item-text-msg {
  word-wrap: anywhere;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 5px;
  word-break: break-all;
}