.wrapper .container-main {
  overflow: hidden;
}
.jcc-color-box {
  float: left;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}
.other-filters{
  padding: 0 14px;
}
.jg.jg-config joomla-tab > joomla-tab-element {
  padding: 0;
}
.jg.jg-config joomla-tab > joomla-tab-element .row-fluid {
  padding: 30px;
}
.jg_minithumb {
  border: 0;
  height: 80px;
  width: 80px;
}
img.jg_minithumb {
  max-height: 80px;
  max-width: 80px;
  object-fit: contain;
  border: 1px solid #ddd;
}

.joom-imgtypes.btn-group {
  margin-top: 1rem;
}
.joom-image {
  position: relative;
  min-height: 100px;
}
.joom-image > .joom-loader {
  position: absolute;
  text-align: center;
  margin: 1rem auto;  
  width: 100%;
}
.joom-image > img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  background-color: #fff;
}
.joom-image.center > img {
  display: block;
  margin: 0 auto;
}
.badge-list .badge {
  margin: 0.2rem;
}
joomla-field-image .jg_minithumb {
  border: solid 1px var(--template-bg-dark-20);
  background-color: #e8e8e8;
}
