.wrapper .container-main {
  overflow: hidden;
}
.mt {
  margin-top: 1rem !important;
}
.mb {
  margin-bottom: 1rem !important;
}
.ml {
  margin-left: 1rem !important;
}
.mr {
  margin-right: 1rem !important;
}

/* List view */
.jg_minithumb {
  border: 0;
  height: 80px;
  width: 80px;
}
img.jg_minithumb {
  max-height: 80px;
  max-width: 80px;
  object-fit: contain;
  border: 1px solid #ddd;
}
table.itemList td [class^="icon-"],
table.itemList td [class*=" icon-"],
table.itemList th [class^="icon-"],
table.itemList th [class*="icon-"] {
  font-size: 1.4rem;
}
table.itemList td .btn-mini,
table.itemList th .btn-mini {
  border: 0;
}
table.itemList td.title-cell .tbody-icon,
table.itemList th.title-cell .tbody-icon {
  margin-right: 0.5rem;
}
.tbody-icon [class^="icon-"],
.tbody-icon [class*=" icon-"],
.tbody-icon [class^="fa-"],
.tbody-icon [class*=" fa-"] {
  color: var(--btn-color) !important;
}
table.itemList td.sort-cell .form-check-input,
table.itemList th.sort-cell .form-check-input {
  display: none;
}

/* Single image view */
.joom-image {
  position: relative;
  min-height: 100px;
  width: 100%;
}
.joom-image > .joom-loader {
  position: absolute;
  text-align: center;
  margin: 1rem auto;  
  width: 100%;
}
.joom-image > img {
  position: relative;
  z-index: 2;
  max-width: 100%;
  background-color: var(--body-bg);
}
.joom-image.center > img {
  display: block;
  margin: 0 auto;
}