<?xml version="1.0" encoding="utf-8"?>
<form addfieldprefix="Joomgallery\Component\Joomgallery\Administrator\Field">

  <field name="id"
         type="text"
         readonly="true"
         class="readonly"
         hidden="true"
         default="0"
         description="JGLOBAL_FIELD_ID_DESC" />

  <field name="published"
         default="1"
         type="hidden"
         filter="unset" />

  <field name="ordering"
         hidden="true" />

  <field name="checked_out"
         type="hidden"
         filter="unset"
         hidden="true" />

  <field name="created_by"
         type="createdby"
         default="0"
         hidden="true"
         label="JGLOBAL_FIELD_CREATED_BY_LABEL"
         description="JGLOBAL_FIELD_CREATED_BY_DESC" />

  <field name="modified_by"
         type="modifiedby"
         default="0"
         hidden="true"
         label="JGLOBAL_FIELD_MODIFIED_BY_LABEL"
         description="JGLOBAL_FIELD_MODIFIED_BY_DESC" />

  <field name="title"
         type="text"
         maxlength="255"
         filter="string"
         required="true"
         label="JGLOBAL_TITLE" />

  <field name="note"
         type="textarea"
         filter="safehtml"
         rows="5"
         cols="40"
         default=""
         title="COM_JOOMGALLERY_EDIT_NOTE"
         label="JFIELD_NOTE_LABEL" />

  <field name="group_id"
         query="SELECT id, title FROM #__usergroups"
         key_field="id"
         value_field="title"
         header="COM_JOOMGALLERY_CONFIG_USER_GROUP"
         type="sql"
         class="mb-0"
         layout="joomla.form.field.list-fancy-select"
         required="true"
         label="COM_JOOMGALLERY_USER_GROUP"
         description="COM_JOOMGALLERY_CONFIG_USER_GROUP_DESC" />

  <field name="import_json"
         type="file"
         accept=".json,application/json"
         size="307200"
         title="COM_JOOMGALLERY_CONFIG_IMPORT_FILE"
         label="COM_JOOMGALLERY_CONFIG_IMPORT_FILE_LBL"
         description="COM_JOOMGALLERY_CONFIG_IMPORT_FILE_DESC" />

  <fieldset type="tab" name="general" label="COM_JOOMGALLERY_CONFIG_TAB_GENERAL">
    <fieldset type="tab" name="general-general" label="COM_JOOMGALLERY_CONFIG_TAB_COMMON">
      <field name="jg_filesystem"
             type="list"
             default="local-images"
             global_only="true"
             sensitive="true"
             dynamic="true"
             script="getFilesystemOptions"
             label="COM_JOOMGALLERY_CONFIG_FILESYSTEM"
             description="COM_JOOMGALLERY_CONFIG_FILESYSTEM_LONG" >
      </field>
      <field name="jg_imagetypes"
             type="text"
             default="jpg,jpeg,png,gif,webp"
             global_only="true"
             sensitive="true"
             label="COM_JOOMGALLERY_CONFIG_IMAGETYPES"
             description="COM_JOOMGALLERY_CONFIG_IMAGETYPES_LONG" >
      </field>
      <field name="jg_ext_upload_maxsize"
             type="externalconfig"
             label="com_media.upload_maxsize" />

      <!-- <field name="jg_pathftpupload"
             type="text"
             default="administrator/components/com_joomgallery/temp/ftp_upload/"
             maxlength="100"
             filter="string"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_FTPUPLOAD_PATH"
             description="COM_JOOMGALLERY_CONFIG_FTPUPLOAD_PATH_LONG" /> -->

      <field name="jg_use_real_paths"
             type="radio"
             default="0"
             class="btn-group"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_USE_REAL_PATHS"
             description="COM_JOOMGALLERY_CONFIG_USE_REAL_PATHS_LONG" >
          <option value="0">JNO</option>
          <option value="1">JYES</option>
      </field>

      <field name="jg_compatibility_mode"
             type="list"
             global_only="true"
             sensitive="true"
             default="0"
             label="COM_JOOMGALLERY_CONFIG_COMPATIBILITY_MODE"
             description="COM_JOOMGALLERY_CONFIG_COMPATIBILITY_MODE_LONG" >
          <option value="0">JNO</option>
          <option value="1">JYES</option>
      </field>

      <field name="jg_checkupdate"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_CHECKUPDATE"
             description="COM_JOOMGALLERY_CONFIG_CHECKUPDATE_LONG" >
          <option value="0">JNO</option>
          <option value="1">JYES</option>
      </field>
    </fieldset>

    <fieldset type="tab" name="general-upload" label="COM_JOOMGALLERY_UPLOADS">
      <field name="jg_parallelprocesses"
             type="number"
             default="1"
             filter="int"
             sensitive="true"
             min="1"
             max="125"
             step="1"
             label="COM_JOOMGALLERY_CONFIG_PARALLEL_PROCESS"
             description="COM_JOOMGALLERY_CONFIG_PARALLEL_PROCESS_LONG" />

      <field name="jg_replaceinfo"
             type="configsubform"
             multiple="true"
             buttons="add,remove"
             formsource="administrator/components/com_joomgallery/forms/subform_imageinforeplace.xml"
             layout="joomla.form.field.subform.repeatable-config"
             label="COM_JOOMGALLERY_CONFIG_REPLACE_METADATA"/>

      <field name="jg_replaceshowwarning"
             type="list"
             default="0"
             label="COM_JOOMGALLERY_CONFIG_REPLACE_SHOWWARNING"
             description="COM_JOOMGALLERY_CONFIG_REPLACE_SHOWWARNING_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_REPLACE_SHOWWARNING_HINT</option>
      </field>

        <field name="jg_approve"
              type="radio"
              default="0"
              class="btn-group"
              layout="joomla.form.field.radio.switcher"
              label="COM_JOOMGALLERY_CONFIG_ADMIN_APPROVAL"
              description="COM_JOOMGALLERY_CONFIG_ADMIN_APPROVAL_LONG" >
          <option value="0">JNO</option>
          <option value="1">JYES</option>
        </field>

      <field name="jg_useorigfilename"
             type="radio"
             default="0"
             class="btn-group"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_ORIGINAL_FILENAME"
             description="COM_JOOMGALLERY_CONFIG_ORIGINAL_FILENAME_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_filenamenumber"
             type="radio"
             default="1"
             class="btn-group"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_NUMBERING"
             description="COM_JOOMGALLERY_CONFIG_NUMBERING_LONG"
             showon="jg_useorigfilename:0" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_uploadorder"
             type="list"
             default="2"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_UPLOAD_ORDER"
             description="COM_JOOMGALLERY_CONFIG_UPLOAD_ORDER_LONG"
             showon="jg_useorigfilename:0[AND]jg_filenamenumber:1" >
        <option value="0">JDEFAULT</option>
        <option value="1">JGLOBAL_ORDER_DESCENDING</option>
        <option value="2">JGLOBAL_ORDER_ASCENDING</option>
      </field>
    </fieldset>

    <fieldset type="tab" name="general-imgprocessing" label="COM_JOOMGALLERY_CONFIG_TAB_IMAGE_PROCESSING">
      <field name="jg_imgprocessor"
             type="imgprocessorlist"
             default="gd"
             onchange="changeImgProcessorDesc()"
             label="COM_JOOMGALLERY_CONFIG_IMAGEPROCESSOR"
             description="COM_JOOMGALLERY_CONFIG_IMAGEPROCESSOR_LONG" >
        <option value="gd">COM_JOOMGALLERY_CONFIG_GDLIB</option>
        <option value="im">COM_JOOMGALLERY_CONFIG_IMAGEMAGICK</option>
      </field>

      <field name="jg_fastgd2creation"
             type="radio"
             default="1"
             class="btn-group"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_GD2_FASTDOWNSIZE"
             description="COM_JOOMGALLERY_CONFIG_GD2_FASTDOWNSIZE_LONG"
             showon="jg_imgprocessor:gd" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_impath"
             type="text"
             default=""
             maxlength="100"
             filter="string"
             label="COM_JOOMGALLERY_CONFIG_PATH_IMAGEMAGICK"
             description="COM_JOOMGALLERY_CONFIG_PATH_IMAGEMAGICK_LONG"
             showon="jg_imgprocessor:im" />

      <field name="jg_wmfile"
             type="media"
             default="images/joomgallery/watermark.png"
             directory="images/joomgallery"
             label="COM_JOOMGALLERY_WATERMARK"
             description="COM_JOOMGALLERY_FIELDS_WATERMARK_DESC" />

      <field name="jg_staticprocessing"
             type="subform"
             min="3"
             multiple="true"
             buttons="add,remove"
             formsource="administrator/components/com_joomgallery/forms/subform_imageconvert.xml"
             layout="joomla.form.field.subform.repeatable-config"
             label="COM_JOOMGALLERY_CONFIG_IP_STATIC" 
             description="COM_JOOMGALLERY_CONFIG_IP_STATIC_DESC" />

      <field name="jg_dynamicprocessing"
             type="subform"
             min="0"
             multiple="true"
             buttons="add,remove"
             formsource="administrator/components/com_joomgallery/forms/subform_imagedynconvert.xml"
             layout="joomla.form.field.subform.repeatable-config"
             label="COM_JOOMGALLERY_CONFIG_IP_DYNAMIC"
             description="COM_JOOMGALLERY_CONFIG_IP_DYNAMIC_DESC" />
    </fieldset>

    <fieldset type="tab" name="general-messages" label="COM_JOOMGALLERY_CONFIG_TAB_MESSAGES">
      <field name="jg_msg_global_from"
             type="radio"
             default="0"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_GS_MS_GLOBAL_FROM"
             description="COM_JOOMGALLERY_CONFIG_GS_MS_GLOBAL_FROM_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_msg_upload_type"
             type="list"
             default="none"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_UPLOAD_TYPE"
             description="COM_JOOMGALLERY_CONFIG_MS_UPLOAD_TYPE_LONG" >
        <option value="none">JNONE</option>
        <option value="mail">COM_JOOMGALLERY_CONFIG_MS_OPTION_MAIL</option>
        <option value="pm">COM_JOOMGALLERY_CONFIG_MS_OPTION_PM</option>
      </field>

      <field name="jg_msg_upload_recipients"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_UPLOAD_RECIPIENTS"
             description="COM_JOOMGALLERY_CONFIG_MS_UPLOAD_RECIPIENTS_LONG"
             showon="jg_msg_upload_type:mail,pm">
        <option value="-1">COM_JOOMGALLERY_CONFIG_MS_DEFAULT_RECIPIENTS</option>
      </field>

      <field name="jg_msg_download_type"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_DOWNLOAD_TYPE"
             description="COM_JOOMGALLERY_CONFIG_MS_DOWNLOAD_TYPE_LONG" >
        <option value="0">JNONE</option>
        <option value="1">COM_JOOMGALLERY_CONFIG_MS_OPTION_MAIL</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_MS_OPTION_PM</option>
        <option value="3">COM_JOOMGALLERY_CONFIG_MS_OPTION_BOTH</option>
      </field>

      <field name="jg_msg_download_recipients"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_DOWNLOAD_RECIPIENTS"
             description="COM_JOOMGALLERY_CONFIG_MS_DOWNLOAD_RECIPIENTS_LONG"
             showon="jg_msg_download_type:1,2,3" >
        <option value="-1">COM_JOOMGALLERY_CONFIG_MS_DEFAULT_RECIPIENTS</option>
      </field>

      <field name="jg_msg_zipdownload"
             type="radio"
             default="0"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_MS_ZIPDOWNLOAD"
             description="COM_JOOMGALLERY_CONFIG_MS_ZIPDOWNLOAD_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_msg_comment_type"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_COMMENT_TYPE"
             description="COM_JOOMGALLERY_CONFIG_MS_COMMENT_TYPE_LONG" >
        <option value="0">JNONE</option>
        <option value="1">COM_JOOMGALLERY_CONFIG_MS_OPTION_MAIL</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_MS_OPTION_PM</option>
        <option value="3">COM_JOOMGALLERY_CONFIG_MS_OPTION_BOTH</option>
      </field>

      <field name="jg_msg_comment_recipients"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_COMMENT_RECIPIENTS"
             description="COM_JOOMGALLERY_CONFIG_MS_COMMENT_RECIPIENTS_LONG"
             showon="jg_msg_comment_type:1,2,3">
        <option value="-1">COM_JOOMGALLERY_CONFIG_MS_DEFAULT_RECIPIENTS</option>
      </field>

      <field name="jg_msg_comment_toowner"
             type="radio"
             default="0"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_MS_COMMENT_TOOWNER"
             description="COM_JOOMGALLERY_CONFIG_MS_COMMENT_TOOWNER_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_msg_report_type"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_REPORT_TYPE"
             description="COM_JOOMGALLERY_CONFIG_MS_REPORT_TYPE_LONG" >
        <option value="0">JNONE</option>
        <option value="1">COM_JOOMGALLERY_CONFIG_MS_OPTION_MAIL</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_MS_OPTION_PM</option>
        <option value="3">COM_JOOMGALLERY_CONFIG_MS_OPTION_BOTH</option>
      </field>

      <field name="jg_msg_report_recipients"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_REPORT_RECIPIENTS"
             description="COM_JOOMGALLERY_CONFIG_MS_REPORT_RECIPIENTS_LONG"
             showon="jg_msg_report_type:1,2,3">
        <option value="-1">COM_JOOMGALLERY_CONFIG_MS_DEFAULT_RECIPIENTS</option>
      </field>

      <field name="jg_msg_report_toowner"
             type="radio"
             default="0"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_MS_REPORT_TOOWNER"
             description="COM_JOOMGALLERY_CONFIG_MS_REPORT_TOOWNER_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_msg_rejectimg_type"
             type="list"
             default="1"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_MS_REJECTIMG_TYPE"
             description="COM_JOOMGALLERY_CONFIG_MS_REJECTIMG_TYPE_LONG" >
        <option value="1">COM_JOOMGALLERY_CONFIG_MS_OPTION_MAIL</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_MS_OPTION_PM</option>
        <option value="3">COM_JOOMGALLERY_CONFIG_MS_OPTION_BOTH</option>
      </field>
    </fieldset>
  </fieldset>

  <fieldset type="tab" name="user" label="COM_JOOMGALLERY_CONFIG_TAB_USER_SETTINGS">
    <fieldset type="tab" name="user-general" label="COM_JOOMGALLERY_CONFIG_TAB_COMMON">
        <field name="jg_userspace"
              type="radio"
              default="1"
              class="btn-group unused"
              layout="joomla.form.field.radio.switcher"
              label="COM_JOOMGALLERY_CONFIG_USERSPACE"
              description="COM_JOOMGALLERY_CONFIG_USERSPACE_LONG" >
          <option value="0">JNO</option>
          <option value="1">JYES</option>
        </field>

        <field name="jg_maxusercat"
              type="number"
              filter="int"
              default="10"
              min="1"
              step="1"
              showon="jg_userspace:1"
              class="unused"
              label="COM_JOOMGALLERY_CONFIG_MAX_USERCATS"
              description="COM_JOOMGALLERY_CONFIG_MAX_USERCATS_LONG" />

        <field name="jg_maxuserimage"
              type="number"
              default="500"
              filter="int"
              min="1"
              step="1"
              showon="jg_userspace:1"
              class="unused"
              label="COM_JOOMGALLERY_CONFIG_MAX_USERIMGS"
              description="COM_JOOMGALLERY_CONFIG_MAX_USERIMGS_LONG" />

        <field name="jg_maxuserimage_timespan"
              type="number"
              filter="int"
              min="0"
              step="1"
              default="0"
              showon="jg_userspace:1"
              class="unused"
              label="COM_JOOMGALLERY_CONFIG_MAX_USERIMGS_TIMESPAN"
              description="COM_JOOMGALLERY_CONFIG_MAX_USERIMGS_TIMESPAN_LONG" />

        <field name="jg_maxfilesize"
              type="number"
              default="2000000"
              filter="int"
              min="1"
              step="1"
              showon="jg_userspace:1"
              class="unused"
              label="COM_JOOMGALLERY_CONFIG_MAX_FILESIZE"
              description="COM_JOOMGALLERY_CONFIG_MAX_FILESIZE_LONG" />
    </fieldset>

    <fieldset type="tab" name="user-upload" label="COM_JOOMGALLERY_UPLOADS">
      <field name="jg_userupload"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_FRONTEND_UPLOAD"
             description="COM_JOOMGALLERY_CONFIG_FRONTEND_UPLOAD_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_newpiccopyright"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_COPYRIGHT_NOTE"
             description="COM_JOOMGALLERY_CONFIG_COPYRIGHT_NOTE_LONG"
             showon="jg_userupload:1" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_uploaddefaultcat"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_DEFAULT_CAT"
             description="COM_JOOMGALLERY_CONFIG_DEFAULT_CAT_LONG"
             showon="jg_userupload:1" >
        <option value="0">JNONE</option>
        <option value="1">COM_JOOMGALLERY_CONFIG_DEFAULT_CAT_OLDEST_ALL</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_DEFAULT_CAT_NEWEST_ALL</option>
        <option value="3">COM_JOOMGALLERY_CONFIG_DEFAULT_CAT_OLDEST_OWN</option>
        <option value="4">COM_JOOMGALLERY_CONFIG_DEFAULT_CAT_NEWEST_OWN</option>
      </field>

      <field name="jg_special_upload"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_PROBLEMATIC_FILES_UPLOAD"
             description="COM_JOOMGALLERY_CONFIG_PROBLEMATIC_FILES_UPLOAD_LONG"
             showon="jg_userupload:1" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_newpicnote"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_UPLOAD_QUOTA"
             description="COM_JOOMGALLERY_CONFIG_UPLOAD_QUOTA_LONG"
             showon="jg_userupload:1" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_redirect_after_upload"
             type="list"
             default="0"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_REDIRECT_AFTER_UPLOAD"
             description="COM_JOOMGALLERY_CONFIG_REDIRECT_AFTER_UPLOAD_LONG"
             showon="jg_userupload:1" >
        <option value="0">JNO</option>
        <option value="1">COM_JOOMGALLERY_CONFIG_REDIRECT_AFTER_UPLOAD_TO_UPLOAD_VIEW</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_REDIRECT_AFTER_UPLOAD_TO_USERPANEL</option>
        <option value="3">COM_JOOMGALLERY_CONFIG_REDIRECT_AFTER_UPLOAD_TO_GALLERY_VIEW</option>
      </field>
    </fieldset>

    <fieldset type="tab" name="user-download" label="COM_JOOMGALLERY_DOWNLOADS">
      <field name="jg_download"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_DOWNLOAD"
             description="COM_JOOMGALLERY_CONFIG_DOWNLOAD_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_download_hint"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             showon="jg_download:1"
             label="COM_JOOMGALLERY_CONFIG_HINT_NOT_ENOUGH_RIGHTS"
             description="COM_JOOMGALLERY_CONFIG_DOWNLOAD_HINT_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_downloadfile"
             type="list"
             default="2"
             showon="jg_download:1"
             class="unused"
             label="COM_JOOMGALLERY_CONFIG_DOWNLOADFILE"
             description="COM_JOOMGALLERY_CONFIG_DOWNLOADFILE_LONG" >
        <option value="0">COM_JOOMGALLERY_DETAIL</option>
        <option value="1">COM_JOOMGALLERY_ORIGINAL</option>
        <option value="2">COM_JOOMGALLERY_CONFIG_DETAIL_WHEN_NO_ORIGINAL</option>
      </field>

      <field name="jg_downloadwithwatermark"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             showon="jg_download:1"
             label="COM_JOOMGALLERY_CONFIG_DOWNLOADWITHWATERMARK"
             description="COM_JOOMGALLERY_CONFIG_DOWNLOADWITHWATERMARK_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>
    </fieldset>

    <fieldset type="tab" name="user-ratings" label="COM_JOOMGALLERY_RATINGS">
      <field name="jg_showrating"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_RATING"
             description="COM_JOOMGALLERY_CONFIG_RATING_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_maxvoting"
             type="number"
             default="5"
             filter="int"
             min="1"
             step="1"
             class="unused"
             showon="jg_showrating:1"
             label="COM_JOOMGALLERY_CONFIG_HIGHEST_RATING"
             description="COM_JOOMGALLERY_CONFIG_HIGHEST_RATING_LONG" />

      <field name="jg_ratingcalctype"
             type="list"
             default="0"
             showon="jg_showrating:1"
             label="COM_JOOMGALLERY_CONFIG_CALC_TYPE"
             description="COM_JOOMGALLERY_CONFIG_CALC_TYPE_LONG" >
        <option value="0">COM_JOOMGALLERY_CONFIG_CALC_TYPE_STANDARD</option>
        <option value="1">COM_JOOMGALLERY_CONFIG_CALC_TYPE_BAYES1</option>
      </field>

      <field name="jg_votingonlyonce"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             showon="jg_showrating:1"
             label="COM_JOOMGALLERY_CONFIG_VOTING_ONLY_ONCE"
             description="COM_JOOMGALLERY_CONFIG_VOTING_ONLY_ONCE_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>
    </fieldset>

    <fieldset type="tab" name="user-comments" label="COM_JOOMGALLERY_COMMENTS">
      <field name="jg_showcomments"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_COMMENT"
             description="COM_JOOMGALLERY_CONFIG_COMMENT_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>
    </fieldset>

    <fieldset type="tab" name="user-reports" label="COM_JOOMGALLERY_REPORTS">
      <field name="jg_report_images"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_REPORT_IMAGES"
             description="COM_JOOMGALLERY_CONFIG_REPORT_IMAGES_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>

      <field name="jg_report_hint"
             type="radio"
             default="1"
             class="btn-group unused"
             layout="joomla.form.field.radio.switcher"
             label="COM_JOOMGALLERY_CONFIG_HINT_NOT_ENOUGH_RIGHTS"
             description="COM_JOOMGALLERY_CONFIG_REPORT_HINT_LONG" >
        <option value="0">JNO</option>
        <option value="1">JYES</option>
      </field>
    </fieldset>
  </fieldset>

  <fieldset type="tab" name="backend" label="COM_JOOMGALLERY_CONFIG_TAB_BACKEND" note="backend">
  </fieldset>

  <fieldset type="tab" name="frontend" label="COM_JOOMGALLERY_CONFIG_TAB_FRONTEND" note="frontend">
    <fieldset type="tab" name="frontend-categoryview" label="COM_JOOMGALLERY_CONFIG_TAB_CATEGORY_VIEW">
        <field
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_SUBCATEGORIES"
            type="spacer"
            name="spacer1"
            hr="false"
            >
        </field>
        <field name="jg_category_view_subcategory_class"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_CLASS"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_CLASS_NOTE_DESC"
            default="columns"
            validate="options"
            >
            <option value="columns">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_GRID</option>
            <option value="masonry">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_MASONRY</option>
        </field>
        <field
            name="jg_category_view_subcategory_num_columns"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_NUM_COLUMNS_LABEL"
            description="COM_JOOMGALLERY_CONFIG_NUM_COLUMNS_DESC"
            default="3"
            validate="options"
            >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>
        <field
            name="jg_category_view_subcategory_image_class"
            type="radio"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_IMAGE_CLASS"
            default="0"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_category_view_numb_subcategories"
            type="number"
            class="unused"
            default="12"
            min="1"
            max="999"
            step="1"
            label="COM_JOOMGALLERY_CONFIG_NUMB_SUBCATEGORIES"
            description="COM_JOOMGALLERY_CONFIG_NUMB_SUBCATEGORIES_DESC"
            filter="int"
        />
        <field
            name="jg_category_view_subcategories_pagination"
            type="list"
            class="unused"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_SUBCATEGORIES_PAGINATION"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_SUBCATEGORIES_PAGINATION_DESC"
            default="pagination"
            validate="options"
            >
            <option value="pagination">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_PAGINATION</option>
            <option value="loadmore">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LOADMORE</option>
            <option value="infinity">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_INFINITY</option>
        </field>
        <field
            name="jg_category_view_subcategories_random_image"
            type="radio"
            class="unused"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_SUBCATEGORIES_RANDOM_IMAGES"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_SUBCATEGORIES_RANDOM_IMAGES_DESC"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_IMAGES"
            type="spacer"
            name="spacer2"
            hr="false"
            >
        </field>
        <field name="jg_category_view_class"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_IMAGES_CLASS"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_IMAGES_CLASS_DESC"
            default="columns"
            validate="options"
            >
            <option value="columns">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_GRID</option>
            <option value="masonry">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_MASONRY</option>
            <option value="justified">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_JUSTIFIED</option>
        </field>
        <field
            name="jg_category_view_num_columns"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_NUM_COLUMNS_LABEL"
            description="COM_JOOMGALLERY_CONFIG_NUM_COLUMNS_DESC"
            default="3"
            validate="options"
            showon="jg_category_view_class:columns[OR]jg_category_view_class:masonry"
            >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
        </field>
        <field
            name="jg_category_view_image_class"
            type="radio"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_IMAGE_CLASS"
            default="0"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            showon="jg_category_view_class:columns[OR]jg_category_view_class:masonry"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_category_view_justified_height"
            type="number"
            default="200"
            min="1"
            max="9999"
            step="1"
            label="COM_JOOMGALLERY_CONFIG_JUSTIFIED_HEIGHT"
            description="COM_JOOMGALLERY_CONFIG_JUSTIFIED_HEIGHT_NOTE_DESC"
            filter="int"
            showon="jg_category_view_class:justified"
        />
        <field
            name="jg_category_view_justified_gap"
            type="number"
            default="5"
            min="0"
            max="999"
            step="1"
            label="COM_JOOMGALLERY_CONFIG_JUSTIFIED_GAP"
            description="COM_JOOMGALLERY_CONFIG_JUSTIFIED_GAP_NOTE_DESC"
            filter="int"
            showon="jg_category_view_class:justified"
        />
        <field
            name="jg_category_view_numb_images"
            type="number"
            class="unused"
            default="16"
            min="1"
            max="9999"
            step="1"
            label="COM_JOOMGALLERY_CONFIG_NUMB_IMAGES"
            description="COM_JOOMGALLERY_CONFIG_NUMB_IMAGES_DESC"
            filter="int"
        />
        <field
            name="jg_category_view_pagination"
            type="list"
            label="COM_JOOMGALLERY_MENU_CATEGORY_VIEW_PAGINATION_LABEL"
            description="COM_JOOMGALLERY_MENU_CATEGORY_VIEW_PAGINATION_DESC"
            default="0"
            validate="options"
            >
            <option value="0">COM_JOOMGALLERY_MENU_CATEGORY_VIEW_PAGINATION_OPT0</option>
            <option value="1">COM_JOOMGALLERY_MENU_CATEGORY_VIEW_PAGINATION_OPT1</option>
            <option value="2">COM_JOOMGALLERY_MENU_CATEGORY_VIEW_PAGINATION_OPT2</option>
        </field>
        <field
            name="jg_category_view_number_of_reloaded_images"
            type="number"
            min="1"
            max="9999"
            step="1"
            label="COM_JOOMGALLERY_MENU_CATEGORY_VIEW_NUMBER_OF_RELOADED_IMAGES_LABEL"
            description="COM_JOOMGALLERY_MENU_CATEGORY_VIEW_NUMBER_OF_RELOADED_IMAGES_DESC"
            filter="int"
            default="3"
            showon="jg_category_view_pagination:2"
        />
        <field
            name="jg_category_view_image_link"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_IMAGES_LINK"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_IMAGES_LINK_DESC"
            default="defaultview"
            validate="options"
            >
            <option value="none">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LINK_NONE</option>
            <option value="defaultview">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LINK_DETAILVIEW</option>
            <option value="lightgallery">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LINK_LIGHTGALLERY</option>
        </field>
        <field
            name="jg_category_view_caption_align"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_ALIGNMENT"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_ALIGNMENT_NOTE_DESC"
            default="center"
            validate="options"
            >
            <option value="left">JGLOBAL_LEFT</option>
            <option value="center">JGLOBAL_CENTER</option>
            <option value="right">JGLOBAL_RIGHT</option>
        </field>
        <field
            name="jg_category_view_images_show_title"
            type="radio"
            label="JGLOBAL_TITLE"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_category_view_title_link"
            type="list"
            label="COM_JOOMGALLERY_CONFIG_CATEGORY_TITLE_LINK"
            description="COM_JOOMGALLERY_CONFIG_CATEGORY_TITLE_LINK_DESC"
            default="defaultview"
            validate="options"
            showon="jg_category_view_images_show_title:1"
            >
            <option value="none">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LINK_NONE</option>
            <option value="defaultview">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LINK_DETAILVIEW</option>
            <option value="lightgallery">COM_JOOMGALLERY_CONFIG_CATEGORY_VIEW_LINK_LIGHTGALLERY</option>
        </field>

        <field
            label="COM_JOOMGALLERY_CONFIG_IMAGE_INFORMATION"
            type="spacer"
            name="spacer3"
            hr="false"
            >
        </field>
        <field
            name="jg_category_view_show_description"
            type="radio"
            label="JGLOBAL_DESCRIPTION"
            default="0"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_category_view_show_imgdate"
            type="radio"
            label="COM_JOOMGALLERY_DATE"
            description="COM_JOOMGALLERY_DATE_DESC"
            default="0"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_category_view_show_imgauthor"
            type="radio"
            label="JAUTHOR"
            description="COM_JOOMGALLERY_FIELDS_AUTHOR_DESC"
            default="0"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_category_view_show_tags"
            type="radio"
            label="COM_JOOMGALLERY_TAGS"
            default="0"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>

    <fieldset type="tab" name="frontend-detailview" label="COM_JOOMGALLERY_MENU_SINGLE_IMAGE_VIEW_OPTIONS">
        <field
            label="COM_JOOMGALLERY_CONFIG_IMAGE_INFORMATION"
            type="spacer"
            name="spacer3"
            hr="false"
            >
        </field>
        <field
            name="jg_detail_view_show_title"
            type="radio"
            label="JGLOBAL_TITLE"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_category"
            type="radio"
            label="JCATEGORY"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_description"
            type="radio"
            label="JGLOBAL_DESCRIPTION"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_imgdate"
            type="radio"
            label="COM_JOOMGALLERY_DATE"
            description="COM_JOOMGALLERY_DATE_DESC"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_imgauthor"
            type="radio"
            label="JAUTHOR"
            description="COM_JOOMGALLERY_FIELDS_AUTHOR_DESC"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_created_by"
            type="radio"
            label="COM_JOOMGALLERY_OWNER"
            description="COM_JOOMGALLERY_FIELDS_OWNER_DESC"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_votes"
            type="radio"
            label="COM_JOOMGALLERY_VOTES"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_rating"
            type="radio"
            label="COM_JOOMGALLERY_IMAGE_RATING"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_hits"
            type="radio"
            label="JGLOBAL_HITS"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_downloads"
            type="radio"
            label="COM_JOOMGALLERY_DOWNLOADS"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_tags"
            type="radio"
            label="COM_JOOMGALLERY_TAGS"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
        <field
            name="jg_detail_view_show_metadata"
            type="radio"
            label="COM_JOOMGALLERY_IMGMETADATA"
            default="1"
            layout="joomla.form.field.radio.switcher"
            validate="options"
            >
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>
    </fieldset>
  </fieldset>

  <field name="asset_id"
          type="hidden"
          filter="unset" />

  <field name="rules"
          type="rules"
          label="JFIELD_RULES_LABEL"
          translate_label="false"
          filter="rules"
          validate="rules"
          class="inputbox"
          component="com_joomgallery"
          section="config" />
</form>
